<div class="" size="40">
  <ul>
  <p>All Films</p>
  {{#each films}}
  <li>
        {{this.name}} 
        -- <b>{{this.title}}</b>
        -- <b>{{this.year}}</b>
        -- <b>{{this.format}}</b>
  </li>
  {{/each}}
</ul>
</div>
